* {
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.updatebox {
    display: none;
}

.bar_row {
    display: flex;
    gap: 15px;
}

.container {
    margin: 50px 0 0 50px;
}

.name {
    padding-bottom: 20px;
}